extend layout
block content
  p
    | University of Michigan CSE
  p
    | My hobbies are Ultimate Frisbee, two channel listening,
    | computer networking, and building cool stuff.

block sidebar
  .widget
    h1 Projects
    p
      | Site is under construction!
