extend layout
block content
  contact
      p
      | Are you human?
       
      p
      input(id='humanity', name='humanity', value='I am not', onclick="watchForHuman();")
  .info(id="contactinfo")
    p

